.terraform*
*.tfstate
terraform.tfvars
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.tfstate.lock.info
.idea
*.iml
crash.log
terraform-provider-wait.exe
terraform-provider-wait
build
bin